<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosso Cardápio</title>
    <style>
        /* Adicione um pouco de estilo aqui! */
        body { font-family: sans-serif; }
        .item { border-bottom: 1px solid #cf0f0f; padding: 10px 0; }
        h2 { color: #21ff00; }
    </style>
</head>
<body>
    <h1>Cardápio Digital</h1>

    {% for item in items %}
        <div class="item">
            <h2>{{ item.nome }}</h2>
            <p>{{ item.descricao }}</p>
            <strong>{{ item.preco }}</strong>
        </div>
    {% endfor %}

</body>
</html>